   /* Estilos del fondo */
        body {
            background-color: #f1f1f1; /* Color de fondo gris claro */
            font-family: Arial, sans-serif; /* Fuente predeterminada */
            margin: 0;
            padding: 0;
        }

        /* Estilos del encabezado */
        .header {
            background-color: #333; /* Color de fondo negro para el encabezado */
            color: #fff; /* Color de texto blanco */
            padding: 20px 0; /* Espaciado interno */
            position: relative;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
        }

        .logo {
            margin: 0;
            font-size: 24px;
            float: left;
        }

        .menu {
            float: right;
        }

        .menu ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .menu ul li {
            display: inline-block;
            margin-left: 20px;
        }

        .menu ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
        }

        /* Estilos de las secciones */
        .section {
            padding: 60px 0;
            text-align: center;
        }

        .section-title {
            font-size: 36px;
            color: #333;
            margin-bottom: 40px;
        }

        .container p {
            font-size: 18px;
            line-height: 1.6;
        }

        /* Estilos de la galería de imágenes */
        .gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .gallery img {
            width: 300px;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Estilos del pie de página */
        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }